.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
}

#top-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart-container {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.chart-container:nth-child(3n+1) {
  margin-right: 10px;
}

.chart-container:nth-child(3n) {
  margin-left: 10px;
}

.chart-container:last-child {
  width: calc(50% - 10px);
}

.chart-container canvas {
  width: 100%;
  height: calc(100% - 20px);
}

#map-container {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
#map { height: 180px; }

#bottom-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#revenue-chart-container canvas,
#gender-chart-container canvas {
    width: 100%;
    height: calc(100% - 20px);
}

.chart-text {
    text-align: center;
    margin-top: 10px;
}



/*
PIE CHART : Gender distribution
#gender-chart-container {
  width: 300px;
  height: 300px;
}
*/



/*
TABLE TOP RANK
*/
.table-rr {
    border-collapse: collapse;
    width: 100%;
}

thead.head-rr tr th{
    background-color: #ffb2c1;
    color: white;
    text-align: left;
    padding: 8px;
}

tbody.body-rr tr {
    text-align: left;
    padding: 8px;
}

tbody.body-rr tr:nth-child(even){background-color: #f2f2f2}

.table-top {
    border-collapse: collapse;
    width: 50%;
}

thead.head-top tr th{
    background-color: #ffb2c1;
    color: white;
    text-align: left;
    padding: 8px;
}

tbody.body-top tr {
    text-align: left;
    padding: 8px;
}

tbody.body-top tr:nth-child(even){background-color: #f2f2f2}