body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #F5F5F5;
}

.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    color: #888888FF;
}

#top-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart-container {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border: 1px solid #CCCCCCFF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
}

.non-chart-container {
    margin-bottom: 20px;
    border: 1px solid #CCCCCCFF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
}

.chart-container:nth-child(3n+1) {
    margin-right: 10px;
}

.chart-container:nth-child(3n) {
    margin-left: 10px;
}

.chart-container:last-child {
    width: calc(50% - 10px);
}

.chart-container canvas {
    width: 100%;
    height: calc(100% - 20px);
}

#map-container {
    width: 100%;
    height: 300px;
}
#map { height: 180px; }

#bottom-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#revenue-chart-container canvas,
#gender-chart-container canvas {
    width: 100%;
    height: calc(100% - 20px);
}

.chart-text {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    color: #888888FF;
    font-weight: 500;
}



#topLocationTable,
#revenue-chart-container {
    width: 50%;
}

#topLocationTable .table {
    margin: 0 auto;
}
